<a href="https://colab.research.google.com/github/aakashr30/Statitics/blob/main/day_6_(10_5_2022)_project_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import numpy as numpy
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.tree import DecisionTreeClassifier

In [4]:
data=pd.read_csv("/content/drive/MyDrive/0 (1).MKCE/Datasets/Social_Network_Ads.csv")
data

      User ID  Gender   Age  EstimatedSalary  Purchased
0    15624510    Male  19.0          19000.0          0
1    15810944    Male  35.0          20000.0          0
2    15668575  Female  26.0          43000.0          0
3    15603246  Female  27.0          57000.0          0
4    15804002    Male  19.0          76000.0          0
..        ...     ...   ...              ...        ...
395  15691863  Female  46.0          41000.0          1
396  15706071    Male  51.0          23000.0          1
397  15654296  Female  50.0          20000.0          1
398  15755018    Male  36.0          33000.0          0
399  15594041  Female  49.0          36000.0          1

[400 rows x 5 columns]

In [5]:
data.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [6]:
data.info

<bound method DataFrame.info of       User ID  Gender   Age  EstimatedSalary  Purchased
0    15624510    Male  19.0          19000.0          0
1    15810944    Male  35.0          20000.0          0
2    15668575  Female  26.0          43000.0          0
3    15603246  Female  27.0          57000.0          0
4    15804002    Male  19.0          76000.0          0
..        ...     ...   ...              ...        ...
395  15691863  Female  46.0          41000.0          1
396  15706071    Male  51.0          23000.0          1
397  15654296  Female  50.0          20000.0          1
398  15755018    Male  36.0          33000.0          0
399  15594041  Female  49.0          36000.0          1

[400 rows x 5 columns]>

In [8]:
data2 = pd.get_dummies(data)
data2

      User ID   Age  EstimatedSalary  Purchased  Gender_Female  Gender_Male
0    15624510  19.0          19000.0          0              0            1
1    15810944  35.0          20000.0          0              0            1
2    15668575  26.0          43000.0          0              1            0
3    15603246  27.0          57000.0          0              1            0
4    15804002  19.0          76000.0          0              0            1
..        ...   ...              ...        ...            ...          ...
395  15691863  46.0          41000.0          1              1            0
396  15706071  51.0          23000.0          1              0            1
397  15654296  50.0          20000.0          1              1            0
398  15755018  36.0          33000.0          0              0            1
399  15594041  49.0          36000.0          1              1            0

[400 rows x 6 columns]

In [9]:
data2.info

<bound method DataFrame.info of       User ID   Age  EstimatedSalary  Purchased  Gender_Female  Gender_Male
0    15624510  19.0          19000.0          0              0            1
1    15810944  35.0          20000.0          0              0            1
2    15668575  26.0          43000.0          0              1            0
3    15603246  27.0          57000.0          0              1            0
4    15804002  19.0          76000.0          0              0            1
..        ...   ...              ...        ...            ...          ...
395  15691863  46.0          41000.0          1              1            0
396  15706071  51.0          23000.0          1              0            1
397  15654296  50.0          20000.0          1              1            0
398  15755018  36.0          33000.0          0              0            1
399  15594041  49.0          36000.0          1              1            0

[400 rows x 6 columns]>

In [10]:
x = data2.drop(['Purchased'],axis=1)
y = data2['Purchased']

In [14]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=0)

In [15]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(300, 5)
(100, 5)
(300,)
(100,)

In [16]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()

In [18]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [20]:
pre = model.predict(x_test)

In [21]:
model.predict_proba(x_test)

array([[1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.]])

In [23]:
x_test.shape

(100, 5)

In [25]:
accuracy_score(y_test,pre)

0.91

In [26]:
confusion_matrix(y_test,pre)

array([[63,  5],
       [ 4, 28]])

In [28]:
classification_report(y_test,pre)

'              precision    recall  f1-score   support\n\n           0       0.94      0.93      0.93        68\n           1       0.85      0.88      0.86        32\n\n    accuracy                           0.91       100\n   macro avg       0.89      0.90      0.90       100\nweighted avg       0.91      0.91      0.91       100\n'